* {
  box-sizing: border-box;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.inputBlock {
  border: 1px solid #dbdbdb;
  background-color: #f4f4f4;
  border-radius: 10px;
  width: 570px;
  height: 96px;
  margin: auto;
  padding: 30px;
  display: flex;
}
input {
  font-family: "Roboto Mono", monospace;
  background-color: transparent;
  font-size: 20px;
  border: none;
  flex: 1 0 auto;
}
#copyButton {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}
.buttonBlock {
  position: relative;
}
.tooltip {
  /*display: none;*/
  position: absolute;
  top: -180%;
  margin: auto;
  left: -100%;
  right: -100%;
  width: fit-content;
  background-color: black;
  color: white;
  padding: 0.7rem 1.5rem;
  border-radius: 0.5rem;
  opacity: 0;
  transform: translateY(5px);
  transition-property: opacity transform;
  transition-duration: 200ms;
}
.tooltip::after {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  background-color: black;
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  margin: auto;
  transform: rotate(45deg);
  transform-origin: center;
}
.buttonBlock.active .tooltip {
  display: block;
  opacity: 100;
  transform: translateY(0px);
}
